
{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Artículos sobre Ansiedad</h1>
    <ul class="text-center">
        {% for articulo in articulos %}
            <li>
                <strong>{{ articulo.title }}</strong><br>
                Autores: {{ articulo.authors }}<br>
                Revista: {{ articulo.journal }}<br>
                Año: {{ articulo.year }}
            </li>
        {% empty %}
            <li>No se encontraron artículos.</li>
        {% endfor %}
    </ul>
{% endblock %}
