{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}
{% load static %}

{% block content %}
  <div style="position: relative; height: 100vh;">
    <!-- Imagen de fondo -->
    <img src="{% static 'images/psicologia-clinica_opt.jpg' %}" alt="Imagen de fondo" 
         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
    
    <!-- Contenedor para los botones y descripción -->
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white space-y-4 px-4" 
         style="z-index: 1;">
        <h1 class="text-4xl font-semibold text-gray-900 drop-shadow-lg">Bienvenido a NeuroNet</h1>
        <h5 class="text-lg font-light text-gray-800 drop-shadow-md">Gracias por usar nuestra aplicación. Desde aquí puedes conocer nuestros servicios, gestionar tus reservas y más.</h5>
        <div class="flex justify-center space-x-4">
            <a href="{% url 'registro' %}" class="btn btn-lg px-6 py-3 text-lg rounded-lg bg-blue-600 text-white transition duration-300 hover:bg-blue-700">
                Registro
            </a>
            <a href="{% url 'login' %}" class="btn btn-lg px-6 py-3 text-lg rounded-lg bg-gray-800 text-white transition duration-300 hover:bg-gray-700">
                Iniciar sesión
            </a>
        </div>
    </div>
  </div>
{% endblock %}
