{% extends 'base.html' %}

{% block title %}Recursos Psicológicos{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h2 style="font-weight: bold;">Recursos Multimedia</h2>

    <h4 style="color: #00bfff; margin-top: 20px;">Terapia cognitivo-conductual</h4>
    <div class="video my-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WaZpbA9qehw?si=6VAQxN07zbd9DrAd"
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video my-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Xvu2tbspwcc?si=0m9iuBfuncaKVUz0"
         title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
         referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h4 style="color: #00bfff; margin-top: 20px;">Terapia psicoanalítica y psicodinámica</h4>
    <div class="video my-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VL-_iaziMcA?si=3D-NgIdFo3sODhrJ" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video my-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0pOH8AR1EaE?si=0e0Quk7wNvLMgKtU" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
         referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h4 style="color: #00bfff; margin-top: 20px;">Terapia Gestalt</h4>
    <div class="video my-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PBKWFkwl3Ws?si=kzO45BBYVQFrFMC_" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen></iframe>
    </div>
    <div class="video my-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5Ds1BtfYeUo?si=EU1va0QVAd4l62eU" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
    </div>

    <h4 style="color: #00bfff; margin-top: 20px;">Terapia sistémica</h4>
    <div class="video my-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qVTad1HN5Qo?si=cSGL01ewbyXpi7rR" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
         allowfullscreen></iframe>
    </div>
    <div class="video my-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/V5c9dG7j3RU?si=l2KDq6VY3SFJDsca" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
